<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.mytestallhere"
    android:versionName="2.0"> <!-- 解决冲突，注意这里minsdk是19版本，而mylibrary是20，如果不处理的话会报错 -->
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25"
        tools:overrideLibrary="com.example.mylibrary" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 注意这里有一个android:icon:"xxxx" 省略，然后下面用了融合节点node，这就表示用了低优先级的manifest中的icon，具体的merg 详情点击左下角的merg manifest -->
    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:node="merge">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="treasure" />
            </intent-filter>
        </activity>
        <activity android:name=".testRelativeoutPaddingValueable.FrameLayoutContainerpadding30dp" />
        <activity android:name=".testRelativeoutPaddingValueable.RelativeLayoutpadding30dp" />
        <activity android:name=".testStatusBar.TestStatusBar" />
        <activity android:name=".rxbinding.RxBinDingActivity" />
        <activity android:name=".rxJava.TestRxJavaActivity" />
        <activity android:name=".butterknife.ButterKnifeActivity" />
        <activity android:name=".cameraTest.CameraPreViewTestActivity" />
        <activity android:name=".selectImgAndCrop.SelectImgAndCropActivity" />
        <activity
            android:name=".selectImgAndCrop.PhotoActivity"
            android:exported="true" />
        <activity android:name=".time_data_orotherpicker.TestPickActivity" />
        <activity android:name=".testmaterial_calendarview.MaterialCalendarViewActivity" />
        <activity android:name=".testDependences.DependencesActivity" />
        <!-- applicationId　是默认的placeHolder -->
        <activity android:name=".glideGetBitmap.GlideGetBitmapActivity">
            <intent-filter>
                <action android:name="${CHANNEL}.${applicationId}" />
            </intent-filter>
        </activity>
        <activity android:name=".multiApksBuildTest.MuiltyApksbuildTestActivity" />
        <activity android:name=".buildConfigTest.BuildConfigActivity" />
        <activity android:name=".viewpagerTest.ViewPagerActivity" />
        <activity android:name=".TransitionsTest.activityTransitionTest.ActivityAAA" />
        <activity android:name=".TransitionsTest.activityTransitionTest.ActivityBBB" />
        <activity android:name=".TransitionsTest.activityTransitionTest.ControllerActivity" />
        <activity android:name=".TransitionsTest.activityTransitionTest.TagetActivity" />
        <activity android:name=".TransitionsTest.activityTransitionTest.TransitionManagerActivity" />
        <activity android:name=".startActivityFromBrowseTest.StartActivityFromBrowse">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="treasure" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${APPLICATIONID}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".memoryleak.MemoryActivityTest" />
        <activity android:name=".myJecenterDependence.MyJecenterDependence" />
        <activity
            android:name=".webviewTest.WebViewTestActivity"
            android:hardwareAccelerated="true" />
        <activity
            android:name=".webviewTest.WebViewVideoActivity"
            android:hardwareAccelerated="true" />
        <activity android:name=".webviewTest.WebViewAndJsInvokeMethodActivity"></activity>
    </application>

</manifest>