<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.administrator.mytestallhere"
    android:versionName="2.0">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!--解决冲突，注意这里minsdk是19版本，而mylibrary是20，如果不处理的话会报错-->
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="25"
        tools:overrideLibrary="com.example.mylibrary" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".testRelativeoutPaddingValueable.FrameLayoutContainerpadding30dp" />
        <activity android:name=".testRelativeoutPaddingValueable.RelativeLayoutpadding30dp" />
        <activity android:name=".testStatusBar.TestStatusBar" />
        <activity android:name=".rxbinding.RxBinDingActivity" />
        <activity android:name=".rxJava.TestRxJavaActivity" />
        <activity android:name=".butterknife.ButterKnifeActivity" />
        <activity android:name=".cameraTest.CameraPreViewTestActivity" />
        <activity android:name=".selectImgAndCrop.SelectImgAndCropActivity" />
        <activity android:name=".selectImgAndCrop.PhotoActivity" />
        <activity android:name=".time_data_orotherpicker.TestPickActivity" />
        <activity android:name=".testmaterial_calendarview.MaterialCalendarViewActivity" />
        <activity android:name=".testDependences.DependencesActivity" />
        <activity android:name=".glideGetBitmap.GlideGetBitmapActivity">
            <intent-filter>
                <action android:name="${CHANNEL}" />
            </intent-filter>
        </activity>
        <activity android:name=".multiApksBuildTest.MuiltyApksbuildTestActivity"></activity>
    </application>

</manifest>